.schedule-section{
   min-height: 60vh;
}
.schedule-wrapper{
    display: flex;
    flex-direction: row;
}
.segment-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    align-items: start;
}

.schedule-heading{
    width:100%;
    height:200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countdown-to-stream{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo-png{
    width:10em;
    height:10em;
    margin-bottom:70px;
    /*background-color: #993333;*/
}

.live-embed-wrapper{

}

#TundorulLive{
    height: 70%;
}