.schedule-section{
    overflow-x: hidden;
}
.schedule-wrapper{
    overflow: hidden;
    max-height:30vh;
}
.segment-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.schedule-segments-band{
    width:100%;
}