h1,h2,h3{
    color:#993535;
}

p{
    max-width:300px;
}
intro-section{
    margin-top:30vh;
}
.page-background{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    z-index:-100;
    background: rgb(210,210,207);
    background: linear-gradient(180deg, rgba(210,210,207,1) 0%, rgba(110,111,110,1) 100%);
}
.navbar{
    position:fixed;
    top:0;
    width:100%;
}

.home-logo-png{
    width:200px;
    height:200px;
    margin-bottom:70px;
    /*background-color: #993333;*/
}

@media(min-width:992px){
    .navbar-collapse{
        max-width:30%;
    }
}

body{
    padding-top: 300px;
}

.schedule-section{
    margin-top: 20vh;
    min-height:50vh;
}