.suggestions-page-header{
    margin-bottom: 50px;
}

.author_profile_img{
    border-radius:50%;
    width:10em;
    height:10em;
}

button, textarea{
    border-radius: 10px;
    margin:5px;
}

form{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 1.2em;
}

.filters-container{
    margin-top: 30px;
}
.suggestions-section{
    margin-top: 30px;
}
.suggestion-body{
    border-radius: 5px;
    border: solid 1px #993535;
    padding:30px;
}
/*[unicorn\:error\:invalid] {*/
/*          border: 1px solid red !important;*/
/*        }*/
/*        [unicorn\:error\:required] {*/
/*          border: 1px solid red !important;*/
/*        }*/

