.user-profile-immage{
    border-radius: 50%;
    height:10em;
    width:10em;
    border: solid 3px #993535;
}

.more-to-follow{
    margin-top:10em;
    display: flex;
    justify-content: center;
}

.profile-detail-row{
    margin-top: 50px;
}

.profile-detail-row div{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-detail-text p{
    font-size:1em;
}
.user-detail-text{
    padding: 20px;
    border: solid 1px #993535;
    border-radius: 5px;
}
.profile-immage-collumn{
    align-items: center;
}