<section>
    {% load account %}
    {% load static %}
    {% load unicorn %}
    {% if messages %}
        {% for message in messages %}
            <p><strong>Thanks {{user}}! </strong></p>
            <p> {{ message }} </p>
        {% endfor %}
    {% endif %}
    <div class="row g-0">
        <div class="col-3"></div>
        <div class="col-6">
            <lbable for="title">Title:</lbable>
            <input u:model.lazy="submit_suggestion_title" type="text" name="title" required>
            <textarea u:model.lazy="submit_suggestion_content"></textarea>
            <button u:click="submit_suggestion"  name="submit_suggestion">Send</button>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row g-0 suggestions-section">

        {% for suggestion in suggestions %}
            <div id="{{suggestion.title}}" class="col-12 suggestion-body">
                <img src={{ suggestion.author.profile_picture_url }} alt="profile immage of the logged in user from twitch" class="author_profile_img"><img>
                <p> <strong> {{ suggestion.title }} </strong></p>
                <p> {{ suggestion.body }} </p>
                <p> wrote on: {{ suggestion.published_at }} </p>
                <p> Approved by Tundorul </p>
                <p> votes: {{ suggestion.votes}} </p>

                {% if suggestion.title in voted_suggestions %}
                    <button u:click="submit_upvote({{ suggestion.id }})" class="btn-success"  name="submit_upvote">Voted! </button>
                {% else %}
                    <button u:click="submit_upvote({{ suggestion.id }})" class="btn-primary"  name="submit_upvote">Upvote </button>
                {% endif %}
            </div>
        {% endfor %}

    </div>
</section>