<section>
    {% load account %}
    {% load static %}
    {% load unicorn %}
    {%unicorn_scripts %}

    {% if messages %}
        {% for message in messages %}
            <p><strong>Thanks {{user}}! </strong></p>
            <p> {{ message }} </p>
        {% endfor %}
    {% endif %}
    <div class="row g-0">
        <div class="col-3"></div>
        <div class="col-6">
            {% unicorn_errors %}
            <div>
                <label for="title">Title:</label>
                <textarea u:model="title" id="title"> </textarea>
            </div>
            <div>
                <label for="content">Suggestion:</label>
                <textarea u:model="content" id="content"></textarea>
            </div>
            <button u:click="submit_suggestion" name="submit_suggestion">Send</button>
             <!-- updated-event.html -->
        </div>

        <div class="col-3"></div>
    </div>
    <div class="col-12">
        <h2>Filters:</h2>
        {% if filter_ownership_mine is False and filter_unapproved is False %}
            <button u:click="show_mine"  class="btn-success">All Suggestions</button>
            <button u:click="show_mine"  class="btn-primary">My Suggestions</button><br>
            <button u:click="awaiting_approval" class="btn-success">Approved</button>
            <button u:click="awaiting_approval" class="btn-primary">Awaiting Approval</button>
        {% elif filter_ownership_mine is True and filter_unapproved is False %}
            <button u:click="show_mine"  class="btn-primary">All Suggestions</button>
            <button u:click="show_mine"  class="btn-success">My Suggestions</button><br>
            <button u:click="awaiting_approval" class="btn-success">Approved</button>
            <button u:click="awaiting_approval" class="btn-primary">Awaiting Approval</button>
        {% else %}
            
            <button u:click="show_mine"  class="btn-success">My Suggestions</button><br>
            <button u:click="awaiting_approval" class="btn-primary">Approved</button>
            <button u:click="awaiting_approval" class="btn-success">Awaiting Approval</button>
        {% endif %}

        {% if filter_by_votes is True %}
            <button u:click="by_votes"  class="btn-success">By votes</button>
            <button u:click="by_votes"  class="btn-primary">By date</button>
        {% else %}
            <button u:click="by_votes"  class="btn-primary">By votes</button>
            <button u:click="by_votes"  class="btn-success">By date</button>
        {% endif %}


    </div>
    <div class="row g-0 suggestions-section">

        {% for suggestion in suggestions %}
            <div id="{{suggestion.title}}" class="col-12 suggestion-body">
                <img src={{ suggestion.author.profile_picture_url }} alt="profile immage of the logged in user from twitch" class="author_profile_img"><img>
                <p> <strong> {{ suggestion.title }} </strong></p>
                <p> {{ suggestion.body }} </p>
                <p> wrote on: {{ suggestion.published_at }} </p>
                <p> by: {{ suggestion.author.username }}</p>

                {% if suggestion.approved %}
                    <p> votes: {{ suggestion.votes}} </p>
                    <p> Approved by Tundorul </p>
                    <!--    Display Upvote button color            -->
                    {{voted_suggestions}}
                    {% if suggestion.title in voted_suggestions %}
                        <button u:click="submit_upvote({{ suggestion.id }})" class="btn-success"  name="submit_upvote">Voted! </button>
                    {% else %}
                        <button u:click="submit_upvote({{ suggestion.id }})" class="btn-primary"  name="submit_upvote">Upvote </button>
                    {% endif %}
                {% else %}
                    <p> Awaiting Approval </p>
                {% endif %}
                <!--      Display Edit Delete buttons          -->
                {% if suggestion in personal_suggestions %}
                    <button u:click="edit_suggestion({{ suggestion.id }})"> Edit </button>
                    <button  id="show_confirm{{suggestion.id}}"> Delete </button>
                    <button u:click.prevent="delete_suggestion({{ suggestion.id }})" class="deletion_confirmed{{suggestion.id}}" style="display:none"></button>
                    <script type="text/javascript">
                        document.getElementById('show_confirm{{suggestion.id}}').addEventListener('click', function(e) {
                            console.log('clicked')
                            let result = confirm("Want to delete?");
                            if (result) {
                                document.getElementsByClassName("deletion_confirmed{{suggestion.id}}").click();
                                console.log('triggerd')
                            }
                        })
                    </script>
                {% endif %}

            </div>
        {% endfor %}

    </div>
</section>