{% extends "base.html" %}
{% block content %}
{% load account %}
{% load static %}
{% load socialaccount %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<script src="https://player.twitch.tv/js/embed/v1.js"></script>


<section class="intro-section row g-0">
    <div class="col-12 intro-text-wrapper">
        <div>
            <h1> WELCOME IN </h1>
            <p>
                My name is Tudor and I will be your host at tundorul.tv.
            </p>
            <p>
                Here, we strive to build a community of people that love video-games or
                aspects of video-games. And we try to build that community by
                a safe, fun, enjoyable environment where we can chat while you
                watch me die thousands of times in video-games played on ungodly
                levels of difficulty.
            </p>
            <p>
                Disclaimer: Once we know a game is a good vibe, we treat it with the utmost respect, meaning we don't
                skip any cinematic /lore /loot /collectible /trophy /achievement. In for a penny, in for a pound.
            </p>
        </div>

    </div>
    <div class="col-12 live-embed-wrapper">
        <div id="TundorulLive"></div>
    </div>


</section>
<section class="schedule-section">
    <div class="row g-0 schedule-wrapper">
        <div class="schedule-wrapper col-12">
            <div class="schedule-heading">
                <h1>{{ heading.days_per_week }} days a week from {{ heading.from_hour}}</h1>

                <h2 class="schedule-timer"></h2>

            </div>
        </div>
    </div>

    <script>
        let dailyHours = []
    </script>
    <div class="row g-0">
        {% for segment in events %}
        <script>
            dailyHours.push({
                day: '{{ segment.weekday_integer }}',
                time: '{{ segment.start_time }}',
            })
        </script>
        <div class="col-12 col-sm-6 col-lg-4 segment-body {{segment.day}}">
            <h1>{{segment.day}}</h1>
            <h4>{{segment.title}}</h4>
            <h4>{{segment.start_time}}</h4>
        </div>
        {% endfor %}
    </div>
</section>



<section class="rules-section">
    <div class="row g-0">
        <div class="col-12">
            <ul>
                <h2> Rules </h2>
                <li>
                    <p>No Spoilers</p>
                </li>
                <li>
                    <p>No Backseat Gaming</p>
                </li>
                <li>
                    <p>No Racism, Homophobia, xenophobia, sexism, or any other unwelcoming activity</p>
                </li>
                <li>
                    <p>No doxxing</p>
                </li>
                <li>
                    <p>No self-promotion</p>
                </li>
                <li>
                    <p>No politics or religious debates</p>
                </li>
                <li>
                    <p>No spamming</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--{% if user.is_authenticated %}-->
<!--{% get_social_accounts user as accounts %}-->
<!--<img src="{{ accounts.twitch.0.extra_data.profile_image_url }}" alt="profile immage of the logged in user" >-->
<!--{% endif %}-->
<script src="{% static 'js/tundorul_live_embed.js' %}"></script>
<script src="{% static 'js/streamschedule.js' %}"></script>
{% endblock %}