{% extends "base.html" %}
{% block content %}
{% load account %}
{% load static %}
{% load socialaccount %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>

<section class="intro-section row g-0">
    <div class="col-5">
        <h1> Welcome In</h1>
        <p>
            My name is Tudor and I will be your host at tundorul.tv.
        </p>
        <p>
            Here, we strive to build a community of people that love video-games or
            aspects of video-games. And we try to build that community by
            a safe, fun, enjoyable environment where we can chat while you
            watch me die thousands of times in video-games played on ungodly
            levels of difficulty.
        </p>
        <p>
            Disclaimer: Once we know a game is a good vibe, we treat it with the utmost respect, meaning we don't skip any cinematic/lore/loot/collectible/trophy/achievement. In for a penny, in for a pound.
        </p>
    </div>
    <div class="col-7 live-embed-wrapper">
       <div id="TundorulLive"></div>
    </div>
    <img class="home-logo-png" src="https://res.cloudinary.com/dgzv7gan8/image/upload/v1681419421/logo-red.png" alt="Tundorul Twitch Channel logo">

</section>
<section class="schedule-section">
    <div class="row g-0 schedule-wrapper">
        <div class="schedule-wrapper col-12">
            <div class="schedule-heading">
                <h1>{{ heading.days_per_week }} days a week from {{ heading.from_hour}}</h1>

                <h2 class="schedule-timer"></h2>

            </div>
        </div>
    </div>

    <script>
        let dailyHours = []
    </script>
    <div class="row g-0">
        {% for segment in events %}
        <script>
            dailyHours.push({
                day: '{{ segment.weekday_integer }}',
                time: '{{ segment.start_time }}',
                })
        </script>
        <div class="col-12 col-sm-6 col-lg-4 segment-body {{segment.day}}">
            <h1>{{segment.day}}</h1>
            <h4>{{segment.title}}</h4>
            <h4>{{segment.start_time}}</h4>
        </div>
        {% endfor %}
    </div>
</section>



<section class="rules-section">
    <div class="row g-0">
        <div class="col-12">
            <h2> Rules </h2>
            <p>I. No Spoilers</p>
            <p>II. No Backseat Gaming</p>
            <p>III. No Racism, Homophobia, xenophobia, sexism, or any other unwelcoming activity</p>
            <p>IV. No doxxing</p>
            <p>V. No self-promotion</p>
            <p>VI. No politics or religious debates</p>
            <p>VII. No spamming</p>
        </div>
    </div>
</section>
<!--{% if user.is_authenticated %}-->
<!--{% get_social_accounts user as accounts %}-->
<!--<img src="{{ accounts.twitch.0.extra_data.profile_image_url }}" alt="profile immage of the logged in user" >-->
<!--{% endif %}-->
<script src="{% static 'js/tundorul_live_embed.js' %}"></script>
<script src="{% static 'js/streamschedule.js' %}"></script>
{% endblock %}
