{% extends "base.html" %}
{% block content %}
{% load account %}
{% load static %}

<div class="row g-0">
    <div class="col-3"></div>
    <div class="col-6"><h1>Pending Approval</h1></div>
    <div class="col-3"></div>
</div>
<div class="row g-0">
    <div class="col-3"></div>
    <div class="col-6">
        <form action="{% url 'pending_approval'%}"  method="POST">
            {% for suggestion in suggestions %}
                {% if not suggestion.approved %}
                    <img src={{ suggestion.user_profile.profile_picture_url }} alt="profile immage of the logged in user from twitch"><img>
                    <input type="text" name='title' value="{{suggestion.title}}"/>
                    <label for name="approve">approve</label>
                    <input type="checkbox" name="approve">
                    <p> {{ suggestion.title }} </p>
                    <p> {{ suggestion.body }} </p>
                    <p> {{ suggestion.author }} </p>
                {% endif %}
            {% endfor %}
            {% csrf_token %}
            <input type="submit" name="save" value="Save">
        </form>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}