{% extends "base.html" %}
{% block content %}
{% load account %}
{% load static %}
<link href="{% static 'css/vods.css' %}" rel="stylesheet">
<!-- twitch player js for embeding video -->
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>

<div class="row g-0">
    <div class="col-3"></div> <!--  spacer  -->
    <div class="col-6 vods-title">
        <h1> In case you missed it, </h1>
        <h2>latest streams can be found here: </h2>
    </div>
    <div class="col-3"></div> <!--  spacer  -->
</div>

<div class="col-12">
    <div class="col-1 col-xxl-0"> </div>
    <script> let vodsArray=[]</script>
    <div class="row g-0 vods-wrapper">
    {% for vod in vods %}
        <script>
            vodsArray.push({
                title: '{{vod.title}}',
                id: '{{vod.stream_id}}',
                url: '{{vod.url}}',
                thumnail: '{{ vod.thumbnail_url }}'
            })
        </script>
        <div class="col-12  col-xxl-6 vod-div">
            <div class="iframe-vod" id="{{vod.stream_id}}">

            </div>
        </div>
    {% endfor %}
        <div class="col-1  col-xxl-0"> </div>
    </div>
</div>

<script src="{% static 'js/vods.js' %}"></script>
{% endblock %}